.board {
  border-collapse: collapse;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  table-layout: fixed;
  border-radius: 10px;
}

.tdNoSelect {
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: bold;
  color: #0077be;
  transition: all 0.2s ease-in-out;
  height: 50px;
  width: 65px;
}

.tdSelect {
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: bold;
  color: #0077be;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  height: 50px;
  width: 65px;
}

.tdSelect:hover {
  background-color: #eee;
}

.selected {
  background-color: lightblue;
}

/* Estilos para el mensaje de ganado */
.mensaje-ganado {
  background-color: #4caf50; /* Fondo verde */
  color: #fff; /* Texto blanco */
  font-size: 2em; /* Tamaño de fuente grande */
  border-radius: 10px; /* Borde redondeado */
  padding: 20px; /* Espacio interno */
}

/* Estilos para el mensaje de perdido */
.mensaje-perdido {
  background-color: #f44336; /* Fondo rojo */
  color: #fff; /* Texto blanco */
  font-size: 2em; /* Tamaño de fuente grande */
  border-radius: 10px; /* Borde redondeado */
  padding: 20px; /* Espacio interno */
}

